.dlock{
    background: linear-gradient(to left,blue,red);
    height: 200px;
    width: 450px;
    margin: 40px auto;
    color: white;
    font-family: cursive;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
}

.anime1:hover{
    box-shadow: 0 0 0 35px rgb(251, 255, 0) inset;
}